body {
    font-family: Arial, sans-serif;
    padding: 40px;
    background: #f0f2f5;
    color: #333;
}
.container {
    max-width: 600px;
    margin: auto;
}
input {
    padding: 10px;
    width: 70%;
}
button {
    padding: 10px;
}

canvas {
    width: 100% !important;
    height: 300px !important;
}

